<div class="body">

    <img src="./assets/images/hos.jpg" alt="" height="450px" width="500px" style="margin-top: 60px; margin-left: 180px; border-radius: 100px;">
  
<div class="container">
  <div class="login form">
    <header>Admin Login</header>
    <form action="#">
      <div class="form-group col">
      <label for="email">Email</label>
      <input type="Email" placeholder="Enter your email" name="email" required  class="form-control is-valid">
      <label for="password">Password</label>
      <input type="Password" placeholder="Enter your password" name="password" required >
      <a href="#" style="color: blue;">Forgot password?</a>
     <div>
      <button  class="btn" [routerLink]="['/main-nav']" >Login</button>
     </div>
    </div>

    </form>
</div>

</div>
<div>
</div>






