
<body class="body"> 
  
    <div class="container">
    
     
      <div class="wrapper">
        <h2>BOOK APPOINTMENT <a href="home/(home:booking-list-page)" style="margin-left: 148px; text-decoration: none;">Go Back⬅</a></h2>
        <form action="#">
          <div class="input-box">
              <label for="name">Name</label>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
              <label for="email">Mobile</label>
            <input type="text" placeholder="Enter your Mobile No" required>
          </div>
          <div class="input-box">
            <label for="age">Age</label>
          <input type="number" placeholder="Enter your age" required>
        </div>
          <div class="input-box">
            <label for="Reason">Reason</label>
          <input type="reason" placeholder="Enter the reason" required>
        </div>

          <div class="input-box">
              <label for="date">Book the Date</label>
            <input type="date" placeholder="Enter the Date" required>
          </div>
          <div class="input-box">
              <label for="Confirm">Select consulting Time</label>
            <input type="time" placeholder="Enter the timings" required>
          </div>
          <div class="input-box">
            <label for="reason">Give the Reason</label>
          <input type="text" placeholder="Enter the Reason" required>
        </div>
        <div class="input-box button" >
            <input type="Submit" value="Add New Admin">
          </div>
        </form>
        
        
      </div>
      
    </div>
  
    </body>
     
