<div class="body">
    <div class="container">
        <div class="header-section">
          <div class="title">Update Doctor</div>
          <button class="btn" (click)="backtosublist()">Back</button>
    
        </div>
      
        <div class="body-section">
          <div class="search-section">
            <div class="side-search-section">
              <div class="name">
                <label>Name:</label>
                <input type="text" id="name" [(ngModel)]="subscriber.name" name="name" >
              </div>
      
              <div class="DOB">
                <label>DOB:</label>
                <input type="text" id="dob" [(ngModel)]="subscriber.dob" name="dob" >
              </div>
              <div class="address">
                <label>Address:</label>
                <input type="text" id="address" [(ngModel)]="subscriber.address" name="address" >
              </div>
            </div>
      
            <div class="side-search-section">
              <div class="emailId">
                <label>Email:</label>
                <input type="email" id="email" [(ngModel)]="subscriber.emailId" name="email" >
              </div>
      
              <div class="phone">
                <label>Phone no:</label>
                <input type="text" id="phone" [(ngModel)]="subscriber.phone" name="phone">
              </div>
            </div>
          </div>
      
          <div class="content-section">
            <button class="create-btn" (click)="updatePatient(subscriber.id)" >Update   Admin   Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="foot" style="height: 198px;">
      <p>.</p>
      
    </div>
      